doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Global Amundance Program
		meta(name='description', content='')
		meta(name='author', content='')
		link(href="./css/bootstrap.min.css", rel="stylesheet")
		link(href="./css/style.css", rel="stylesheet")
		script(src='https://code.jquery.com/jquery-3.3.1.min.js')
	body
		.container-fluid
			.row.clearfix.pt-10
				#wrapper-content.container.bg-yellow
					.row.clearfix
						.col-md-8.col-md-offset-2.text-center.logo
							img.center-block.img-responsive(src="./img/logo.png")
					.row.clearfix
						.col-md-12.text-center
							.box1
								h3.text-warning.font-green Repayments Due:
								p  
								.table-reponsive
									table#showData.table.table-striped
									table.table.table-striped
										thead
											tr
												th Lender
												th Amount
												th Duration
												th Story
												th Date
										tbody
											- each item in loanList
												tr
													td= item.lender_name
													td= item.amount
													td= item.duration
													td= item.your_story
													td= item.created_at						
							hr
						.col-md-12.text-right
							button.btn.btn-success.pull-right Refresh						
						.col-md-12.text-center
							h3.text-info Repayments Instuctions:
							h4.font-red send to:
							h2.font-green 0x895487cf5e4a78b689c06e90d84f980